In [1]:
fecha_entrega = "0217"  # <<<<<<< MODIFICAR DIARIOOOO

In [2]:
import pandas as pd
import os.path
import pyodbc

# pyodbc
from sqlalchemy import create_engine
engine = create_engine("access+pyodbc://@backorders")

In [3]:
# "C:\Users\FernandoManuelGamino\Documents\BACKORDERS\0131\0131_backorders.csv"

path = "../BACKORDERS/2_febrero"
a_file = "backorders_"+fecha_entrega+".csv"
joined_path = os.path.join(path, a_file)
df = pd.read_csv(joined_path, header=4)

In [4]:
# it's a list
formato = ['Fecha', 'Número de documento', 'Retailer Code', 'Artículo', 'SKU',
       'Pedido', 'Completado', 'Backorder', 'Reparto', 'Preventa',
       'precio unitario', 'precio total', 'Cliente']

In [5]:
df.columns

Index(['Fecha ', 'Número de documento ', 'Cliente/Trabajo: RB - EXTERNAL ID  ',
       'Artículo ', 'Artículo: ID interno ', 'Pedido ', 'Completado ',
       'Pedido en espera ', 'RB - RUTA  ', 'RB - Ruta  ', 'Precio unitario ',
       'Importe (bruto) ', 'Saldo ', 'Cliente/Trabajo '],
      dtype='object')

In [7]:
df.drop('Saldo ',axis=1,inplace=True)

In [8]:
df.columns = formato

In [9]:
df.head()

,Fecha,Número de documento,Retailer Code,Artículo,SKU,Pedido,Completado,Backorder,Reparto,Preventa,precio unitario,precio total,Cliente
0,17/02/2022,SO928358,NL02100330,ELECTROLIT 625ml (JAMAICA).-,736,2,0,2,Monterrey-05,PVMty014,$16.50,$33.00,243688 CARNICERIA Y ABARROTES TREJO
1,17/02/2022,SO928379,NL04500093,ELECTROLIT 625ml (JAMAICA).-,736,6,0,6,Monterrey-02,PVMty005,$16.50,$99.00,240376 TIENDA DE ABARROTES
2,17/02/2022,SO928380,NL03903837,SERV VOGUE 100.-,718,24,0,24,Monterrey-07,PVMty019,$7.26,$174.24,247216 ABARROTES LA TAPATIA
3,17/02/2022,SO928381,NL03902790,SERV VOGUE 100.-,718,12,0,12,Monterrey-07,PVMty019,$7.26,$87.12,247235 ABARROTES CASTILLO
4,17/02/2022,SO928383,NL02100152,ELECTROLIT 625ml (MORA AZUL).-,739,2,0,2,Monterrey-05,PVMty014,$16.50,$33.00,243696 TIENDA DE ABARROTES LA ESQUINITA

In [10]:
df.to_sql('Backorder',engine , index=False, if_exists='append')

-1